.cache
.vscode
build
devApp/bins
devApp/objdumps
dmm-app-boilerplate/devApp/bins
dmm-app-boilerplate/devApp/objdumps
# under test
hostApp/SPMV
devApp/SPMV.c
# graph data files
hostApp/BFS/csr.txt
hostApp/BFS/csr.txt.zst
